.form{
    display: none !important;
}
.activeform{
    display: block !important;
    transition: all 0.25s ease-in-out;
}
.nav-item:hover{
  background-color: #f7f8fc;  
}
.overlay{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  content: " ";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color:rgba(0, 0, 0, 0.7);
}
.inf-content{
  border:1px solid #DDDDDD;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}			                                                      